/* Reset and default styles */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

/* Global styles */
html {
    scroll-snap-type: y proximity;
    scroll-padding-top: 45px;
}

body {
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    width: 100% !important;
}

section {
    scroll-snap-align: start;
}

:root {
    --gradient: linear-gradient(45deg, #879af2, #d3208b, #fda000);
}

/* Navigation bar */
nav {
    display: flex;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 1;
    justify-content: space-between;
    align-items: center;
    padding: 0.75% 2.75%;
    white-space: nowrap;
    height: 45px;
    background-image: var(--gradient);
    background-size: 300%;
    opacity: 0.8;
    animation: bg-animation 5s infinite alternate;
}

nav h3 {
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.65);
    transition: font-size 0.5s ease-in-out;
    box-shadow: -5px -5px 40px #ffffffb2, 5px 5px 40px rgba(94, 104, 121, 0.945);
    padding: 0.25% 0.8%;
}

nav h3:hover {
    font-size: 1.6rem;
    box-shadow: -6px -6px 35px #ffffffb2, 6px 6px 35px rgba(94, 104, 121, 0.945);
}

nav a {
    font-size: 1.25rem;
    font-weight: 525;
    text-decoration: none;
    transition: font-size 0.5s ease-in-out;
    border-radius: 8.5px;
    background-color: rgba(255, 255, 255, 0.65);
    color: black;
    box-shadow: -5px -5px 40px #ffffffb2, 5px 5px 40px rgba(94, 104, 121, 0.945);
    padding: 0.5% 2%;
}

nav a:hover {
    font-size: 1.375rem;
    box-shadow: -6px -6px 35px #ffffffb2, 6px 6px 35px rgba(94, 104, 121, 0.945);
}

/* Keyframes for background animation */
@keyframes bg-animation {
    0% {
        background-position: left;
    }

    100% {
        background-position: right;
    }
}

/* Media queries */
@media all and (max-width: 1000px) {
    nav {
        padding: 0.75% 2.75%;
    }
}

@media all and (max-width: 700px) {
    nav {
        padding: 0.75% 2.5%;
    }

    nav a {
        font-size: 1rem;
        padding: 1% 2%;
    }

    nav h3 {
        font-size: 1.2rem;
        padding: 1% 0.8%;
    }

    nav h3:hover {
        font-size: 1.1rem;
    }
}

@media all and (max-width: 500px) {
    nav h3 {
        padding: 2% 3%;
        font-size: 0.8rem;
    }

    nav a {
        font-size: 0.7rem;
        padding: 2.45% 3%;
    }
}

/* Contacts section */
#contacts {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 15px;
    height: 100vh;
    background-image: url(images/secttwobp.jpg);
    background-size: cover;
    background-color: rgb(155, 155, 155);
    background-blend-mode: multiply;
    top: 0;
    left: 50%;
    background-repeat: no-repeat;
    padding-top: 10%;
    text-align: center;
    color: whitesmoke;
}

#icons {
    margin-top: 2.5%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    width: 50%;
    gap: 35px;
}

#contacts img {
    width: 3.5rem;
}

#contacts img:hover {
    animation: rotateAndScale 1.5s 1;
    transform: scale(1.25);
}

@keyframes rotateAndScale {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(1080deg);
    }
}

@media all and (max-width: 700px) {
    #contacts {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 15px;
        height: 100vh;
        background-image: url(images/secttwobp.jpg);
        background-size: cover;
        background-color: rgb(155, 155, 155);
        background-blend-mode: multiply;
        background-repeat: no-repeat;
        padding-top: 50%;
        text-align: center;
        color: whitesmoke;
        font-size: 0.83rem;
    }
    
}