* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Comfortaa', cursive;
}

html {
    scroll-snap-type: y proximity;
    scroll-padding-top: 45px;
}
body{
    margin: 0;
    padding: 0;
    overflow-x: hidden !important;
    width: 100% !important;
}
section {
    scroll-snap-align: start;
}
:root {
    --gradient: linear-gradient(
        45deg, #879af2, #d3208b, #fda000);
    --secondary: linear-gradient(
        135deg, #274b74, #8233c5, #e963fd);
}
nav {
    display: flex;
    position: sticky;
    top: 0px;
    width: 100%;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.75% 2.75%;
    white-space: nowrap;
    height: 45px !important;
    background-image: var(--gradient);
    background-size: 300%;
    opacity: 0.8;
    animation: bg-animation 5s infinite alternate;
}
nav a{
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.65);
    transition: font-size 0.5s ease-in-out;
    box-shadow:  -5px -5px 40px #ffffffb2,
    5px 5px 40px rgba(94, 104, 121, 0.945);
    padding: 0.25% 0.8%;
    text-decoration: none;
    color: black;
}
nav a:hover{
    font-size: 1.6rem;
    box-shadow:  box-shadow -6px -6px 35px #ffffffb2,
    6px 6px 35px rgba(94, 104, 121, 0.945);
}
z
#link {
    font-size: 1.25rem;
    font-weight: 525;
    text-decoration: none;
    transition: font-size 0.5s ease-in-out;
    border-radius: 8.5px;
    background-color: rgba(255, 255, 255, 0.65);
    color: black;
    box-shadow:  -5px -5px 40px #ffffffb2,
    5px 5px 40px rgba(94, 104, 121, 0.945);
    padding: 0.5% 2%;
    text-decoration: none;
    color: black;
}
#link:hover {
    font-size: 1.375rem;
    box-shadow:  -6px -6px 35px #ffffffb2,
    6px 6px 35px rgba(94, 104, 121, 0.945);
}
#sectionone {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: white;
    background-image: var(--gradient);
    background-size: 300%;
    padding: 10% 5% 10% 7%;
    gap: 5em;
    height: calc(100vh - 45px);
    animation: bg-animation 5s infinite alternate;
}
@keyframes bg-animation {
    0%{
        background-position: left;
    }
    100% {
        background-position: right;
    }
} 
#introText {
    display: flex;
    margin-bottom: 5em;
    flex-direction: column;
    text-align: start;
    gap: 15px;
    opacity: 0.785;
}
#introText h1 {
    font-size: 4.5rem;
    animation: revealText 1.5s ease-out;
}
#introText h3 {
    font-size: 2.25rem;
    animation: revealText 1s ease-out;
}
#introText p{
    padding: 5% 0%;
    font-size: 1.1em;
    animation: revealText 1.8s ease-out;
    line-height: 1.5em;
}
#sectionone img{
    height: 30em;
    border-radius: 25px;  
    box-shadow: 0px 0px 70px 5px white;
    animation: revealImg 1.35s ease-out;
}
@keyframes revealText {
    0%{
        translate: -50%;
        opacity: 0.1;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
} 
@keyframes revealImg {
    0%{
        translate: 50%;
        opacity: 0.1;
    }
    100% {
        translate: 0 0;
        opacity: 1;
    }
} 
.blinking-cursor {
    font-weight: 100;
    font-size: 5rem;
    color: white;
    opacity: 0.785;
    animation: 1.5s blink step-end infinite;
  }
  
  @keyframes blink {
    from, to {
      color: transparent;
    }
    50% {
      color: white;
    }
  }
  @media all and (max-width: 1000px) {
    nav {
        display: flex;
        position: sticky !important;
        top: 0px;
        width: 100%;
        z-index: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.75% 2.75%;
        white-space: nowrap;
        height: 45px !important;
        background-image: var(--gradient);
        background-size: 300%;
        opacity: 0.8;
        animation: bg-animation 5s infinite alternate;
    }
    #sectionone img {
        height: 23.5em;
    }
    nav a {
        border-radius: 10px;
    }
    
    #introText {
    margin-bottom: 3.5em;
    }
    #introText h1 {
    font-size: 3rem;
    }
    #introText h3 {
    font-size: 2rem;
    }
    #introText p{
    padding: 5% 0%;
    font-size: 1em;
}
    .blinking-cursor {
        font-size: 3.35rem;
    }
  
}
@media all and (max-width: 700px) {
    nav {
        display: flex;
        position: sticky !important;
        top: 0px;
        width: 100%;
        z-index: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.75% 2.5%;
        white-space: nowrap;
        height: 45px !important;
        background-image: var(--gradient);
        background-size: 300%;
        opacity: 0.8;
        animation: bg-animation 5s infinite alternate;
    }
    #link {
        font-size: 1rem;
        font-weight: 525;
        text-decoration: none;
        transition: font-size 0.5s ease-in-out;
        border-radius: 8.5px;
        background-color: rgba(255, 255, 255, 0.65);
        color: black;
        box-shadow:  -5px -5px 40px #ffffffb2,
        5px 5px 40px rgba(94, 104, 121, 0.945);
        padding: 1% 2%;
    
    }
    #sectionone {
        align-items: center;
    }
    #sectionone img{
        display: none;
    }
    
    nav a{
        font-size: 1.2rem;
        padding: 1% 0.8%;
    }
    nav a:hover{
        font-size: 1.1rem;
    }
    #introText {
    margin-bottom: 3.5em;
    text-align: center;
    align-self: center;
    justify-content: center;
    padding-right: 3.5%;
    }
    #introText h1 {
    padding-left: 7.5%;
    font-size: 3.2rem;
    }
    #introText h3 {
    font-size: 1.5rem;
    text-align: center;
    }
    #introText p{
    padding: 5% 0%;
    font-size: 1em;
}
.blinking-cursor {
    font-size: 3.35rem;
  }
  
}
@media all and (max-width: 500px) {
    #sectionone {
        height: calc(100vh - 45px);
    }
    nav a{
        border-radius: 10px;
        padding: 2% 3%;
        font-size: 0.8rem ;
    }
    #link {
        font-size: 0.7rem;
        font-weight: 525;
        text-decoration: none;
        transition: font-size 0.5s ease-in-out;
        border-radius: 8.5px;
        background-color: rgba(255, 255, 255, 0.65);
        color: black;
        box-shadow:  -5px -5px 40px #ffffffb2,
        5px 5px 40px rgba(94, 104, 121, 0.945);
        padding: 2.45% 3%;
    
    }
}
.background {
    position:relative;
    bottom: 50em;
    display: block;
    z-index: 0;
    opacity: 0.5;
  }
/* SECTION TWO */
#sectiontwo{
    display: flex;
    flex-direction: column;
    padding: 5% 15% 5% 15%;
    background-image: url(images/secttwobp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(155, 155, 155);
    background-blend-mode: multiply;
    align-items: center;
    gap: 5em;
    color: white;
}
@media all and (max-width:500px) {
    #sectiontwo {
        background-attachment:scroll
    }
}
#aboutme {
    margin-top: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 25%;
    align-items: center;
    font-size: 2.5rem;
}
#aboutme p{
    text-align: end;
    font-size: 1rem;
}

#programmingjourney {
    margin-top: 10%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 7.5%;
    align-items: center;
    text-align: end;
    font-size: 2.5rem;
}
#programmingjourney p{
    text-align: start;
    font-size: 0.95rem;
}

#myacademics{
    margin-top: 10%;
    display: flex;
    text-align: start;
    flex-direction: row;
    justify-content: space-between;
    gap: 25%;
    font-size: 2.5em;
}

#myacademics p{
    text-align: end;
    font-size: 1rem;
}

#myexpertise {
    margin-top: 10%;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    gap: 7.5%;
    align-items: center;
    text-align: end;
    font-size: 2.5rem;
    overflow-x: hidden;
}

#myexpertise p{
    text-align: start;
    font-size: 1rem;
}
#myprojects {
    display: flex;
    margin-top: 10%;
    align-items: center;
    flex-direction: column;
    gap: 5em;
    margin-bottom: 25%;
    align-items: center;
}
#myprojects h3{
    padding: 2.5% 0%;
}
#projects{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
    width: 100%;
}
#myprojects h2 {
    font-size: 2rem;
}
#p1, #p2, #p3{
    display: flex;
    padding: 2.5%;
    flex-direction: row-reverse;
    align-items: center;
    background-image: var(--secondary);
    animation: bg-animation 5s infinite alternate;
    background-size: 300%;
    border-radius: 5px;
    color: whitesmoke;
    gap: 20px;
    overflow-x: hidden !important;
}

#myprojects img{
    width: 25em;
    border: 1em solid rgba(232, 225, 225, 0.2);
}
#myprojects p{
    font-size: 0.75rem;
}
.hidden {
    opacity: 0.35;
    filter: blur(5px);
    transition: all 1.5s;
}
.show {
    opacity: 1;
    filter: blur(0);
}
.freeze{
    transform: translateX(50%);
    transition: all 1.5s ease-out;
    overflow-x: hidden !important;
}
.slide{
    transform: translateX(0%);
    overflow-x: hidden !important;
}


@media all and (max-width: 1050px) {
    #sectiontwo {
        gap: 4em;
    }
    #aboutme {
        margin-top: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 20%;
        align-items: center;
        font-size: 1.5rem;
    }
    #aboutme p{
        text-align: end;
        font-size: 0.85rem;
    }
    #myacademics{
        margin-top: 10%;
        display: flex;
        text-align: end;
        flex-direction: row;
        text-align: start;
        justify-content: space-between;
        gap: 20%;
        font-size: 1.5rem;
    }
    
    #myacademics p{
        text-align: start;
        font-size: 0.85rem;
    }
    #myprojects img{
        width: 18.5em;
        border: 1em solid rgba(232, 225, 225, 0.2);
    }

    

    #programmingjourney {
        font-size: 1.5rem;
        flex-direction: row-reverse;
        justify-content: space-between;
    }
    #programmingjourney p{
        font-size: 0.85rem;
    }

    #myexpertise {
        font-size: 1.5rem;
    }

    #myexpertise p{
        font-size: 0.85rem;
    }

    
}

@media all and (max-width: 700px) {
    #sectiontwo{
        padding-top: 20%;
        gap: 2.5em;
    }

    #aboutme {
        margin-top: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        gap: 20%;
        align-items: center;
        font-size: 1.75rem;
    }
    #aboutme p{
        margin-top: 5%;
        text-align: center;
        font-size: 1.25rem;
    }
    #myacademics{
        margin-top: 30%;
        display: flex;
        text-align: center;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        gap: 20%;
        font-size: 1.75rem;
    }
    #myacademics p{
        margin-top: 5%;
        text-align: center;
        font-size: 1.25rem;
    }


    #programmingjourney {
        margin-top: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 7.5%;
        align-items: center;
        text-align: center;
        font-size: 1.75rem;
    }
    #programmingjourney p{
        margin-top: 5%;
        text-align: center;
        font-size: 1.25rem;
    }

    #myexpertise {
        margin-top: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 7.5%;
        align-items: center;
        text-align: center;
        font-size: 1.75rem;
    }

    #myexpertise p{
        margin-top: 5%;
        text-align: center;
        font-size: 1.25rem;
    }

    #myprojects{
        margin-top: 15%;
    }
    .freeze{
        transform: translateY(50%);
        transition: all 1.5s ease-out;
    }
    
    .slide{
        transform: translate(0%);
    }
    #p1, #p2, #p3{
        display: flex;
        padding: 10% 3.5%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #ffffffb2;
        color: black;
        gap: 15px;
    }
    #myprojects p{
        font-size: 0.65rem;
        padding: 3% 0%;
    }
    #myprojects img{
        width: 15em;
        border: 1em solid rgba(232, 225, 225, 0.2);
    }
}


@media all and (max-width: 500px) {
    #sectiontwo{
        padding-top: 20%;
        gap: 2.5em;
    }

    #aboutme {
        margin-top: 40%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        text-align: center;
        gap: 20%;
        align-items: center;
        font-size: 1.5rem;
    }
    #aboutme p{
        margin-top: 5%;
        text-align: center;
        font-size: 0.85rem;
    }
    #myacademics{
        margin-top: 30%;
        display: flex;
        text-align: center;
        flex-direction: column;
        text-align: center;
        justify-content: space-between;
        gap: 20%;
        font-size: 1.5rem;
    }

    #myacademics p{
        margin-top: 5%;
        text-align: center;
        font-size: 0.85rem;
    }


    #programmingjourney {
        margin-top: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 7.5%;
        align-items: center;
        text-align: center;
        font-size: 1.5rem;
    }
    #programmingjourney p{
        margin-top: 5%;
        text-align: center;
        font-size: 0.85rem;
    }

    #myexpertise {
        margin-top: 30%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        gap: 7.5%;
        align-items: center;
        text-align: center;
        font-size: 1.55rem;
    }

    #myexpertise p{
        margin-top: 5%;
        text-align: center;
        font-size: 0.85rem;
    }

    #myprojects{
        margin-top: 20%;
    }

    .freeze{
        transform: translateY(50%);
        transition: all 1.5s ease-out;
    }

    .slide{
        transform: translate(0%);
    }

    #p1, #p2, #p3{
        display: flex;
        padding: 10% 3.5%;
        flex-direction: column;
        align-items: center;
        text-align: center;
        background-color: #ffffffb2;
        color: black;
        gap: 15px;
    }
    #myprojects p{
        font-size: 0.65rem;
        padding: 3% 0%;
    }
    #myprojects img{
        width: 15em;
        border: 1em solid rgba(232, 225, 225, 0.2);
    }
}

#sectionthree{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 2.5%;
    text-align: center;
    gap: 25px;
    background-image: var(--gradient);
    animation: bg-animation 5s infinite alternate;
    background-size: 300%;
    color: whitesmoke;
}
#sectionthree h4{
    border: 1px solid white;
    background-color: white;
    border-radius: 10px;
    padding: 5% 3.5%;
    opacity: 0.675;
    width: 115%;
    color: black;
}
#sectionthree a{
    text-decoration: none;
    list-style: none;
    color: whitesmoke;
    padding: 1% 2%;
}
@media all and (max-width: 1050px) {
    #sectionthree {
        padding: 3.5% 2.5%;
    }
    #sectionthree h4{
        padding: 0.5% 1.75%;
        font-size: 0.8rem;
        width: 100%;
    }
    #sectionthree h3{
        font-size: 1rem;
    }
}

@media all and (max-width: 700px) {
    #sectionthree {
        padding: 8% 2.5%;
        gap: 10px;
    }
    #sectionthree h4 {
        width: 100%;
        padding: 1.25% 2%;
    }
    #sectionthree a{
        width: 35%;
    }
}