$primary-gradient: linear-gradient(45deg, #879af2, #d3208b, #fda000);
$secondary-gradient: linear-gradient(135deg, #274b74, #8233c5, #e963fd);
$white: rgba(255, 255, 255, 0.65);
$shadow-color: rgba(94, 104, 121, 0.945);


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Comfortaa', cursive;
}

html {
  scroll-snap-type: y proximity;
  scroll-padding-top: 45px;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden !important;
  width: 100% !important;
  -ms-overflow-style: none;
  scrollbar-width: none;
  &::-webkit-scrollbar {
    display: none;
  }
  
}


section {
  scroll-snap-align: start;
}


nav {
  display: flex;
  position: sticky;
  top: 0px;
  width: 100%;
  z-index: 1;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0.75% 2.75%;
  white-space: nowrap;
  height: 45px !important;
  background-image: $primary-gradient;
  background-size: 300%;
  opacity: 0.8;
  animation: bg-animation 5s infinite alternate;

  #link {
    font-size: 1.25rem;
    font-weight: 525;
    text-decoration: none;
    transition: font-size 0.5s ease-in-out;
    border-radius: 8.5px;
    background-color: rgba(255, 255, 255, 0.65);
    color: black;
    box-shadow: -5px -5px 40px #ffffffb2, 5px 5px 40px rgba(94, 104, 121, 0.945);
    padding: 0.5% 2%;
    &:hover {
        font-size: 1.375rem;
        box-shadow: -6px -6px 35px #ffffffb2, 6px 6px 35px rgba(94, 104, 121, 0.945);
    }
}
  a {
    font-size: 1.5rem;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.65);
    transition: font-size 0.5s ease-in-out;
    box-shadow:  -5px -5px 40px #ffffffb2,
    5px 5px 40px rgba(94, 104, 121, 0.945);
    padding: 0.25% 0.8%;
    text-decoration: none;
    color: black;

    &:hover {
      font-size: 1.6rem;
      box-shadow: -6px -6px 35px $white, 6px 6px 35px $shadow-color;
    }
  }

  @media all and (max-width: 1000px) {
    display: flex;
    position: sticky !important;
    top: 0px;
    width: 100%;
    z-index: 1;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0.75% 2.75%;
    white-space: nowrap;
    height: 45px !important;
    background-image: $primary-gradient;
    background-size: 300%;
    opacity: 0.8;
    animation: bg-animation 5s infinite alternate;

    a {
      border-radius: 10px;
    }
  }

  @media all and (max-width: 700px) {

        display: flex;
        position: sticky !important;
        top: 0px;
        width: 100%;
        z-index: 1;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        padding: 0.75% 2.75%;
        white-space: nowrap;
        height: 45px !important;
        background-image: $primary-gradient;
        background-size: 300%;
        opacity: 0.8;
        animation: bg-animation 5s infinite alternate;

        a {
            font-size: 1.2rem;
            padding: 1% 0.8%;
            &:hover{
                font-size: 1.1rem;
            }
        }
        #link {
            font-size: 1rem;
            font-weight: 525;
            text-decoration: none;
            transition: font-size 0.5s ease-in-out;
            border-radius: 8.5px;
            background-color: rgba(255, 255, 255, 0.65);
            color: black;
            box-shadow:  -5px -5px 40px #ffffffb2,
            5px 5px 40px rgba(94, 104, 121, 0.945);
            padding: 1% 2%;
        
        
    }
}

    @media all and (max-width: 500px) {
            display: flex;
            position: sticky !important;
            top: 0px;
            width: 100%;
            z-index: 1;
            flex-direction: row;
            justify-content: space-between;
            align-items: center;
            padding: 0.75% 2.75%;
            white-space: nowrap;
            height: 45px !important;
            background-image: $primary-gradient;
            background-size: 300%;
            opacity: 0.8;
            animation: bg-animation 5s infinite alternate;

            a{
                border-radius: 10px;
                padding: 2% 3%;
                font-size: 0.8rem ;
            }
            #link {
                font-size: 0.7rem;
                font-weight: 525;
                text-decoration: none;
                transition: font-size 0.5s ease-in-out;
                border-radius: 8.5px;
                background-color: rgba(255, 255, 255, 0.65);
                color: black;
                box-shadow:  -5px -5px 40px #ffffffb2,
                5px 5px 40px rgba(94, 104, 121, 0.945);
                padding: 2.45% 3%;
            
            }
        }
}



#sectionone {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: white;
  background-image: $primary-gradient;
  background-size: 300%;
  padding: 10% 5% 10% 7%;
  gap: 5em;
  height: calc(100vh - 45px);
  animation: bg-animation 5s infinite alternate;

  img {
    height: 30em;
    border-radius: 25px;
    box-shadow: 0px 0px 70px 5px $white;
    animation: revealImg 1.35s ease-out;
  }

  #introText {
    display: flex;
    margin-bottom: 5em;
    flex-direction: column;
    text-align: start;
    gap: 15px;
    opacity: 0.785;

    h1 {
      font-size: 4.5rem;
      animation: revealText 1.5s ease-out;
    }

    h3 {
      font-size: 2.25rem;
      animation: revealText 1s ease-out;
    }

    p {
      padding: 5% 0%;
      font-size: 1.1em;
      animation: revealText 1.8s ease-out;
      line-height: 1.5em;
    }
  }

  .blinking-cursor {
    font-weight: 100;
    font-size: 5rem;
    color: white;
    opacity: 0.785;
    animation: 1.5s blink step-end infinite;
  }


@keyframes bg-animation {
  0% {
    background-position: left;
  }
  100% {
    background-position: right;
  }
}

@keyframes revealText {
  0% {
    translate: -50%;
    opacity: 0.1;
  }
  100% {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes revealImg {
  0% {
    translate: 50%;
    opacity: 0.1;
  }
  100% {
    translate: 0 0;
    opacity: 1;
  }
}

@keyframes blink {
  from, to {
    color: transparent;
  }
  50% {
    color: white;
  }
}

@media all and (max-width: 1000px) {
  img {
    height: 23.5em;
  }

  #introText {
    margin-bottom: 3.5em;
        h1 {
            font-size: 3rem;
        }

        h3 {
            font-size: 2rem;
        }

        p {
            padding: 5% 0%;
            font-size: 1em;
        }
  }
  .blinking-cursor {
    font-size: 3.35rem;
  }

}


@media all and (max-width: 700px) {
    height: calc(100svh - 45px);
    height: calc(100lvh - 45px);
    height: calc(100dvh - 45px);
    align-items: center;
    align-self: center;
    flex-direction: column;
    justify-content: space-evenly;
    position: relative;
    gap: 0;

    img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover; /* This property makes the image behave like a background */
        z-index: -1; /* Puts the image behind other content */
        opacity: 0.7; /* Adjust opacity as needed */
        animation: none;
        border-radius: 0px;
        margin: 0;
        padding: 0;
        border: 0;
        transition: none;
        filter: blur(1px);
    }

    &::before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5); /* Adjust the color and opacity as needed */
        z-index: 0; /* Place the overlay behind the content */
    }


  #introText {
    margin-bottom: 2.5em;
    text-align: center;
    align-self: center;
    justify-content: center;
    padding-right: 2%;
        h1 {
            font-size: 3.2rem;
            opacity: 0.9;
            padding-left: 2.5%;
        }
        
        h3 {
            font-size: 1.5rem;
            text-align: center;
            opacity: 0.9;
        }
        
        p {
            padding: 5% 0%;
            font-size: 1em;
            opacity: 0.9;
        }
  }
  .blinking-cursor {
    font-size: 3.35rem;
  }
}



}


/* SECTION TWO */
#sectiontwo{
    display: flex;
    flex-direction: column;
    padding: 5% 15% 5% 15%;
    background-image: url(/images/secttwobp.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: rgb(155, 155, 155);
    background-blend-mode: multiply;
    align-items: center;
    gap: 5em;
    color: white;


    #aboutme {
        margin-top: 10%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        gap: 25%;
        align-items: center;
        font-size: 2.5rem;
        p{
            text-align: end;
            font-size: 1rem;
        }
    }


    #programmingjourney {
        margin-top: 10%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 7.5%;
        align-items: center;
        text-align: end;
        font-size: 2.5rem;
        p{
            text-align: start;
            font-size: 0.95rem;
        }
    }


    #myacademics{
        margin-top: 10%;
        display: flex;
        text-align: start;
        flex-direction: row;
        justify-content: space-between;
        gap: 25%;
        font-size: 2.5em;

        p{
            text-align: end;
            font-size: 1rem;
        }
    }



    #myexpertise {
        margin-top: 10%;
        display: flex;
        flex-direction: row-reverse;
        justify-content: space-between;
        gap: 7.5%;
        align-items: center;
        text-align: end;
        font-size: 2.5rem;
        overflow-x: hidden;
        p{
            text-align: start;
            font-size: 1rem;
        }
    }


    #myprojects {
        display: flex;
        margin-top: 10%;
        align-items: center;
        flex-direction: column;
        gap: 5em;
        margin-bottom: 25%;
        align-items: center;
        overflow: hidden;
        h3{
            padding: 2.5% 0%;
        }
        h2 {
            font-size: 2rem;
        }
        
        img{
            width: 25em;
            border: 1em solid rgba(232, 225, 225, 0.2);
        }
        p{
            font-size: 0.75rem;
        }

    }

    #projects{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        width: 100%;
        overflow: hidden;
    }

    #p1, #p2, #p3{
        display: flex;
        padding: 2.5%;
        flex-direction: row-reverse;
        align-items: center;
        background-image: $secondary-gradient;
        animation: bg-animation 5s infinite alternate;
        background-size: 300%;
        border-radius: 5px;
        color: whitesmoke;
        gap: 20px;
        overflow-x: hidden !important;
    }

    .hidden {
        opacity: 0.35;
        filter: blur(5px);
        transition: all 1.5s;
    }
    .show {
        opacity: 1;
        filter: blur(0);
    }
    .freeze{
        transform: translateX(50%);
        transition: all 1.5s ease-out;
        overflow-x: hidden !important;
    }
    .slide{
        transform: translateX(0%);
        overflow-x: hidden !important;
    }


    @media all and (max-width: 1050px) {
        gap: 4em;

        #aboutme {
            margin-top: 10%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            gap: 20%;
            align-items: center;
            font-size: 1.5rem;
            p{
                text-align: end;
                font-size: 0.85rem;
            }
        }

        #myacademics{
            margin-top: 10%;
            display: flex;
            text-align: end;
            flex-direction: row;
            text-align: start;
            justify-content: space-between;
            gap: 20%;
            font-size: 1.5rem;
            p{
                text-align: start;
                font-size: 0.85rem;
            }
        }
        

        #myprojects img{
            width: 18.5em;
            border: 1em solid rgba(232, 225, 225, 0.2);
        }

        

        #programmingjourney {
            font-size: 1.5rem;
            flex-direction: row-reverse;
            justify-content: space-between;
            p{
                font-size: 0.85rem;
            }
        
        }

        #myexpertise {
            font-size: 1.5rem;
            p{
                font-size: 0.85rem;
            }
        }



    }

    @media all and (max-width: 700px) {

        background-attachment:scroll;
        padding-top: 20%;
        gap: 2.5em;

        #aboutme {
            margin-top: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            gap: 20%;
            align-items: center;
            font-size: 1.75rem;
            p{
                margin-top: 5%;
                text-align: center;
                font-size: 1.25rem;
            }
        }

        #myacademics{
            margin-top: 30%;
            display: flex;
            text-align: center;
            flex-direction: column;
            text-align: center;
            justify-content: space-between;
            gap: 20%;
            font-size: 1.75rem;
            p{
                margin-top: 5%;
                text-align: center;
                font-size: 1.25rem;
            }
        
        }


        #programmingjourney {
            margin-top: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 7.5%;
            align-items: center;
            text-align: center;
            font-size: 1.75rem;
            p{
                margin-top: 5%;
                text-align: center;
                font-size: 1.25rem;
            }
        }


        #myexpertise {
            margin-top: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 7.5%;
            align-items: center;
            text-align: center;
            font-size: 1.75rem;
            p{
                margin-top: 5%;
                text-align: center;
                font-size: 1.25rem;
            }
        
        }


        #myprojects{
            margin-top: 15%;
            overflow-x: hidden;
            p{
                font-size: 0.65rem;
                padding: 3% 0%;
            }
            img{
                width: 15em;
                border: 1em solid rgba(232, 225, 225, 0.2);
            }
        }

        .freeze{
            transform: translateY(50%);
            transition: all 1.5s ease-out;
        }
        
        .slide{
            transform: translate(0%);
        }
        #p1, #p2, #p3{
            display: flex;
            padding: 10% 3.5%;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: #ffffffb2;
            color: black;
            gap: 15px;
        }

    }


    @media all and (max-width: 500px) {
        padding-top: 20%;
        gap: 2.5em;
        padding: 5% 10% 5% 10%;

        #aboutme {
            margin-top: 40%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            text-align: center;
            gap: 20%;
            align-items: center;
            font-size: 1.5rem;
            p{
                margin-top: 5%;
                text-align: center;
                font-size: 0.85rem;
            }
        }

        #myacademics{
            margin-top: 30%;
            display: flex;
            text-align: center;
            flex-direction: column;
            text-align: center;
            justify-content: space-between;
            gap: 20%;
            font-size: 1.5rem;
            p{
                margin-top: 5%;
                text-align: center;
                font-size: 0.85rem;
            }
        }




        #programmingjourney {
            margin-top: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 7.5%;
            align-items: center;
            text-align: center;
            font-size: 1.5rem;
            p{
                margin-top: 5%;
                text-align: center;
                font-size: 0.85rem;
            }
        }


        #myexpertise {
            margin-top: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            gap: 7.5%;
            align-items: center;
            text-align: center;
            font-size: 1.55rem;
            p{
                margin-top: 5%;
                text-align: center;
                font-size: 0.85rem;
            }
        }


        #myprojects{
            margin-top: 20%;
            p{
                font-size: 0.65rem;
                padding: 3% 0%;
            }
            img{
                width: 15em;
                border: 1em solid rgba(232, 225, 225, 0.2);
            }
        }

        .freeze{
            transform: translateY(50%);
            transition: all 1.5s ease-out;
        }

        .slide{
            transform: translate(0%);
        }


        #p1, #p2, #p3{
            display: flex;
            padding: 10% 3.5%;
            flex-direction: column;
            align-items: center;
            text-align: center;
            background-color: #ffffffb2;
            color: black;
            gap: 15px;
        }

    }
}
#sectionthree{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 5% 2.5%;
    text-align: center;
    gap: 25px;
    background-image: $primary-gradient;
    animation: bg-animation 5s infinite alternate;
    background-size: 300%;
    color: whitesmoke;
    h4{
        border: 1px solid white;
        background-color: white;
        border-radius: 10px;
        padding: 5% 3.5%;
        opacity: 0.675;
        width: 115%;
        color: black;
    }
    a{
        text-decoration: none;
        list-style: none;
        color: whitesmoke;
        padding: 1% 2%;
    }
    

    @media all and (max-width: 1050px) {
        padding: 3.5% 2.5%;
        h4{
            padding: 0.5% 1.75%;
            font-size: 0.8rem;
            width: 100%;
        }
         h3{
            font-size: 1rem;
        }
    }

    @media all and (max-width: 700px) {
        padding: 8% 2.5%;
        gap: 10px;
        h4 {
            width: 100%;
            padding: 1.25% 2%;
        }
        a{
            width: 35%;
        }
    }
}